* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

/* REUSABLE CODE */
.btn {
  border: none;
  padding: 15px 25px;
  background-color: #ff5959;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.font-size-regular {
  font-size: 18px;
}

.heading-2 {
  font-size: 45px;
}

.heading-3 {
  font-size: 36px;
}

.heading-4 {
  font-size: 24px;
}

.text-block {
  text-align: center;
  width: 70%;
  margin: -32px auto 0 auto;
  padding-bottom: 32px;
}

.text-color-secondary {
  color: #707070;
}

/* COVER SECTION */
.cover-container {
  position: relative;
  height: 80vh;
}

.cover-container {
  background-image: linear-gradient(
      to bottom,
      rgba(32, 32, 32, 0.527),
      rgba(19, 19, 19, 0.712)
    ),
    url('./assets/donation7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-container-content {
  width: 50%;
  color: #ffff;
  text-align: center;
}

.cover-container-heading {
  font-size: 65px;
}

.cover-container-text {
  padding: 16px 0;
}

/* DONATION PLAN SECTION */
.donation-plan {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 64px 0;
}

.donation-plan-heading {
  padding-bottom: 16px;
}

.donation-plan-text {
  padding-bottom: 32px;
}

.donation-plan-box-container {
  display: flex;
  list-style: none;
  gap: 20px;
}

.donation-plan-box {
  flex: 1;
  text-align: center;
  color: #ff5959;
  background-color: #fafafa;
  padding: 32px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.donation-plan-box--active {
  border: 1px solid #ff5959;
  background-color: #ffeeee;
}

.donation-plan-input-field {
  margin: 32px 0;
}

.donation-plan-input {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  width: 100%;
  padding: 8px;
  font-weight: 500;
  color: #b3b3b3;
  font-size: 18px;
}

.donation-plan-input:focus {
  outline: none;
}

.donation-plan-input::placeholder {
  text-align: center;
  color: #b3b3b3;
}

/* CHOICE PLAN SECTION */
.plan-choice {
  width: 80%;
  margin: 0 auto;
  padding: 64px 0;
}

.plan-choice-text {
  padding-top: 16px;
}

.plan-choice-card-container {
  display: flex;
  list-style: none;
  gap: 32px;
}

.plan-choice-card {
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-choice-card:nth-child(1) {
  background-color: #edf5f6;
}

.plan-choice-card:nth-child(2) {
  background-color: #ffeeee;
}

.plan-choice-card:nth-child(3) {
  background-color: #fff4d6;
}

.plan-choice-card img {
  align-self: flex-start;
}

/* QUOTE SECTION */
#quote-block {
  background-image: url('./assets/Simple\ Shiny.svg');
}

.quote-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  /* align-items: center; */
  gap: 20px;
  padding: 64px 0;
  color: white;
}

.quote-container > * {
  flex-basis: 100%;
}

.quote-name {
  padding-top: 16px;
}

.quote {
  color: #ff5959;
}

.quote-text {
  line-height: 1.5;
}

/* CONTACT FORM SECTION */
.contact-form {
  padding: 64px 0;
  width: 60%;
  margin: 0 auto;
}

.contact-form-text {
  padding-top: 16px;
}

.contact-form-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 25%;
  background-color: #fff4d6;
}

.contact-form-input {
  height: 100%;
  width: 100%;
  padding: 16px;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #d9d9d9;
}

.contact-form-input:focus {
  outline: none;
}

.contact-form-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* FOOTER SECTION */
#footer {
  padding: 32px;
  background-color: #0b0d17;
  font-family: cursive;
  text-align: center;
}

.footer-heading {
  color: #ff5959;
}

.footer-text {
  color: #d9dbe1;
  padding-top: 32px;
}
